<style>
.fade-transition {
  display: inline-block;
}
.fade-enter {
  animation: fade-in .5s;
}
.fade-leave {
  animation: fade-out .5s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
</style>
<template>
  <h3 v-show="changing" transition="fade">
    {{ greets }}
  </h3>
</template>

<script>
export default {
  	data () {
    	return {
          message: '',
          changing: true,
      		local: [ 
              '你好','नमस्ते','Hello','Olá',
              'こんにちは','Здравствуйте','Hello',
              'Nnọọ','Pẹlẹ o','Hallo','হ্যালো',
              'Salve','Hello','Halo','Bonjour',
              'Kamusta','مرحبا','안녕하세요',
              'Chào','Merhaba','Hola','Ciao',
              'ہیلو','สวัสดีค่ะ','Hello'
          ]
      }
    },
    computed: {
        greets: {
          cache: false,
          get () {
            var len = this.local.length - 1
            var num = Math.floor(Math.random() * len)
            this.message = this.local[num]
            return this.message
          }
        }
    },
    ready: function() {
      var self = this
      setInterval(function () {
        var s = self
        setTimeout(function() { s.changing = !s.changing }, 500)
        self.changing = !self.changing
        self.greets
      }, 20000)
    }
}
</script>