<template>
  <form method="POST" name="markdown" @submit.prevent="submit" enctype="multipart/form-data">
  <div id="md-markdown">
    <div class="toast toast-danger" v-show="toast" id="markdown-toast">
      {{ message }}
    </div>
    <div class="markdown-header">
      <input type="text" class="title" name="title" v-model="title" placeholder="Post title">
      <input type="text" class="slug" name="slug" v-model="slug" placeholder="Post slug URL">
      <div class="tags">
        <input type="checkbox" id="laravel" class="tag" name="tag[]" value="2">
        <label for="laravel">Laravel</label>

        <input type="checkbox" id="php" class="tag" name="tag[]" value="1">
        <label for="php">PHP</label>

        <input type="checkbox" id="jquery" class="tag" name="tag[]" value="4">
        <label for="jquery">jQuery</label>

        <input type="checkbox" id="javascript" class="tag" name="tag[]" value="3">
        <label for="javascript">JavaScript</label>

        <input type="checkbox" id="vue" class="tag" name="tag[]" value="5">
        <label for="vue">Vue.js</label>

        <input type="checkbox" id="html" class="tag" name="tag[]" value="7">
        <label for="html">HTML</label>

        <input type="checkbox" id="css" class="tag" name="tag[]" value="6">
        <label for="css">CSS</label>

        <input type="checkbox" id="css" class="tag" name="tag[]" value="8">
        <label for="css">Server</label>
      </div>
      <div class="image">
        <span class="text-image">Add image</span>
        <input v-el:file type="file" class="input-image" name="image" v-model="image" accept="image/gif, image/jpeg, image/png">
      </div>
    </div>
    <div class="markdown-content">
      <textarea class="textarea" name="content" v-model="content" debounce="300"></textarea>
      <div class="preview" v-html="content | marked"></div>
    </div>
    <button type="submit" class="btn" id="create-post">Create Post</button>
  </div>
  </form>
</template>

<script>
import marked from 'marked'

marked.setOptions({
  langPrefix: 'language-',
  highlight: function (code, lang) {
    var lg = window.Prism.languages[lang] || window.Prism.languages.markup;
    return window.Prism.highlight(code, lg);
  }
});

var renderer = new marked.Renderer();


renderer.code = function(code, lang, escaped) {
  if (this.options.highlight) {
    var out = this.options.highlight(code, lang);

    if (out != null && out !== code) {
      code = out;
    }
  }

  return '<pre class="'
    + this.options.langPrefix
    + escape(lang, true)
    + '"><code class="'
    + this.options.langPrefix
    + escape(lang, true)
    + '">'
    + code
    + '\n</code></pre>\n';
};

renderer.heading = function(text, level, raw) {
  if (level == 1) {
    level = 2;
  }

  return '<h'
    + level
    + ' id="'
    + this.options.headerPrefix
    + raw.toLowerCase().replace(/[^\w]+/g, '-')
    + '">'
    + text
    + '</h'
    + level
    + '>\n';
};


export default {
    name : 'markdown',
  	data () {
    	return {
          title: '',
          slug: '',
          image: '',
      		content: '',
          toast: false,
          message: '',
          tags_: ''
      	}
    },
    computed: {
        markedContent: function () {
          return marked(this.content);
        },
        excerpt: function () {
          var s = this.content,
              c = s.substring(0, s.indexOf('<!-- excerpt -->'));

          return marked(c);
        },
        tag: function () {
          var tags = document.markdown.querySelectorAll('[name="tag[]"]'),
              len = tags.length,
              tag = [];

          for (var i = 0; i < len; i++) {
            if (tags[i].checked) {
              tag.push(tags[i].value);
            }
          }

          return tag;
        }
    },
    methods : {
      submit: function(){
        
        var data = new FormData();
        data.append('title', this.title);
        data.append('slug', this.slug);
        data.append('tag', this.tag);
        data.append('image', this.$els.file.files[0]);
        data.append('excerpt', this.excerpt);
        data.append('content', this.markedContent);

        var tag = this.tag;
        var taglen = tag.length;
        console.log(taglen);
        for (var i = 0; i < taglen; i++) {
          console.log(tag[i]);
          data.append('tag[]', tag[i]);
        }

        this.$http.post('/blog/create', data).then(function (response) {

            // get status
            response.status;

            // get status text
            response.statusText;

            // get all headers
            response.headers;

            // get 'Expires' header
            response.headers['Expires'];

            //console.log(response);
            // set data on vm
            this.$set('message', response.data.message);

            window.location.href = response.data.path;

        }, function (response) {
            console.error(response);
        });

      },
      validateTag: function() {

      }
    },
    created: function() {
        this.$http.get('/tag').then(function (response) {
            if (! response.ok) {
              console.error('An error occured please refresh this page.');
            }

            else {
              this.$set('tags_', response.json());
            }

        }, function (response) {
            console.error('An error occured please refresh this page.');
        });
    },
    filters: {
      marked: function (input) {
        return marked(input, {renderer: renderer});
      }
    }
}
</script>

<style>
#md-markdown {
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

#md-markdown > .toast {
  position: absolute;
  bottom: 0;
  margin-bottom: -60px;
}

#md-markdown .markdown-header {
  display: flex;
  height: 25%;
  flex-direction: column;
  padding: 9px;
}

#md-markdown .markdown-header > .title {
  width: 50%;
  margin: 0 auto;
  height: 50%;
  font-size: 22px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-bottom-color: #d1d1d1;
  border-bottom-style: dotted;
}

#md-markdown .markdown-header > .slug {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-bottom-color: #d1d1d1;
  border-bottom-style: dotted;
}

#md-markdown .markdown-header > .tags {
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-bottom-color: #d1d1d1;
  border-bottom-style: dotted;
  display: flex;
  align-items: baseline;
}

#md-markdown .markdown-header > .tags > .tag {
  margin-right: -13px;
}

#md-markdown .markdown-header > .tags > label {
  margin: 0 16px;  
}

#md-markdown .markdown-header > .image {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  width: 50%;
  background-color: #ececec;
  height: 38%;
  display: flex;
  justify-content: center;
}

#md-markdown .markdown-header > .image > .text-image {
  align-self: center;
  color: #999;
}

#md-markdown .markdown-header > .image > input.input-image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    filter: alpha(opacity=0);
}

#md-markdown .markdown-content {
  display: flex;
  height: 75%;
}

#md-markdown .textarea, #md-markdown .preview {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: scroll;
}

#md-markdown textarea.textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

#md-markdown #create-post {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16%;
  height: 14%;
}
</style>