<template>
	<button @click.prevent="toggle" :class="activeClass">
		<i class="omi omi-burger"></i>
	</button>
</template>

<script>
export default {
  	data () {
    	return {
      		activeClass: {
      			toggled: false
      		}
      	}
    },
  	methods: {
  		toggle() {
        var toggled = this.activeClass.toggled
        var menu = document.getElementById('menu')

        menu.style.display = !toggled ? 'inherit' : '';

  			return this.activeClass.toggled
  				 = !this.activeClass.toggled
  		}
	}
};
</script>