@charset "UTF-8";
@font-face {
  font-family: 'onlymyicon';
  src: url("fonts/onlymyicon.eot?52kndz");
  src: url("fonts/onlymyicon.eot?52kndz#iefix") format("embedded-opentype"), url("fonts/onlymyicon.ttf?52kndz") format("truetype"), url("fonts/onlymyicon.woff?52kndz") format("woff"), url("fonts/onlymyicon.svg?52kndz#onlymyicon") format("svg");
  font-weight: normal;
  font-style: normal; }

.omi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'onlymyicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.omi-forbidden:before {
  content: ""; }

.omi-question-o:before {
  content: ""; }

.omi-triangle-down:before {
  content: ""; }

.omi-triangle-left:before {
  content: ""; }

.omi-triangle-right:before {
  content: ""; }

.omi-triangle-up:before {
  content: ""; }

.omi-locked:before {
  content: ""; }

.omi-pencil:before {
  content: ""; }

.omi-switch:before {
  content: ""; }

.omi-plus:before {
  content: ""; }

.omi-minus:before {
  content: ""; }

.omi-search:before {
  content: ""; }

.omi-heart:before {
  content: ""; }

.omi-check:before {
  content: ""; }

.omi-cancel:before {
  content: ""; }

.omi-tag:before {
  content: ""; }

.omi-tags:before {
  content: ""; }

.omi-comment:before {
  content: ""; }

.omi-comments:before {
  content: ""; }

.omi-burger:before {
  content: ""; }

.omi-sort:before {
  content: ""; }

.omi-facebook:before {
  content: ""; }

.omi-twitter:before {
  content: ""; }

.omi-github:before {
  content: ""; }

.omi-npm:before {
  content: ""; }

.omi-add-todo:before {
  content: ""; }

.omi-remove-todo:before {
  content: ""; }

.omi-todo-alt:before {
  content: ""; }

.omi-chay:before {
  content: ""; }

.omi-email:before {
  content: ""; }

.omi-guitar:before {
  content: ""; }

.omi-yoga:before {
  content: ""; }

.omi-screen:before {
  content: ""; }

.omi-javascript:before {
  content: ""; }

.omi-vue:before {
  content: ""; }

.omi-jquery:before {
  content: ""; }

.omi-php:before {
  content: ""; }

.omi-php-alt:before {
  content: ""; }

.omi-laravel:before {
  content: ""; }

.omi-mysql:before {
  content: ""; }

.omi-send-mail:before {
  content: ""; }

.omi-telegram:before {
  content: ""; }

.omi-todo:before {
  content: ""; }

.omi-go-down:before {
  content: ""; }

/*# sourceMappingURL=omi.css.map */
