@import "theme-variables";
@import "theme-mixin";

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}





body {
    font-family: $lato;
    background-color: $theme-color;
    font-weight: $normal;
}
h1,
h2,
h3 {
    font-family: $lato;
    font-weight: 300;
}
p {
    font-family: $roboto;
    font-weight: 400;
    strong {
        font-weight: 500;
    }
}

/** BASE **/
.back {
    display: block;
    text-align: center;
    margin: -5rem 0 2rem;
    color: darken($white, 20%);
    a {
        color: darken($white, 25%);
        &:hover,
        &:focus,
        &:active {
            color: darken($white, 35%);
        }
    }
}

/** BASE **/



/** NAVIGATION **/
.navbar-default {
    background-color: $theme-color;
    padding: 1rem 2rem;
    flex-flow: row wrap;
    .navbar-section {
        border-bottom: 1px solid #fff;
        padding: 1rem;
        font-size: 100%;
        @include minMaxMedia($xs, $sm){
            font-size: 110%;
        }
        @include minMaxMedia($sm, $md){
            font-size: 115%;
        }
        @include minMaxMedia($md, $lg){
            font-size: 120%;
        }
        @include minMedia($lg){
            font-size: 125%;
        } 
    }
    @include minMaxMedia($xs, $sm){
        padding: 1rem 4rem;
    }
    @include minMaxMedia($sm, $md){
        padding: 1rem 6rem;
    }
    @include minMaxMedia($md, $lg){
        padding: 3rem 8rem;
    }
    @include minMaxMedia($lg, $xl){
        padding: 3rem 10rem;
    } 
    @include minMedia($xl){
        padding: 3rem 13rem;
    } 
}
.navbar-header {
    a {
        color: $header-font-color;
        background-color: transparent;
        border-color: transparent;
        &:hover,
        &:focus,
        &:active {
            color: $header-font-hover-color;
            background-color: transparent;
            border-color: transparent;
        }
    }
    button {
        display: none;
        @include maxMedia($sm){
            font-size: 150%;
            display: initial;
            background-color: transparent;
            border-color: transparent;
            color: $white;
            &:hover,
            &:active,
            &:focus {
                background-color: transparent;
                border-color: transparent;
                color: lighten($theme-color, 60%);
                transition: 1s ease;
            }
        }
    }
    .navbar-brand {
        font-size: 200%;
        font-weight: 900;
        @include maxMedia($sm){
            
        }
        @include minMaxMedia($sm, $md){
            margin: 1em;
        }
        @include minMaxMedia($lg, $xl){
            font-size: 3.75rem;
        }
        @include minMedia($xl){
            font-size: 4rem;
        } 
    }
    @include maxMedia($md){
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
.navbar-section {
    a {
        color: $white;
        text-decoration: none;
        &:hover,
        &:active,
        &:focus {
            color: darken($white, 10%);
        }
        @include minMaxMedia($sm, $md){
            vertical-align: middle;
            align-self: center;
        }
    }
}



/** NAVIGATION **/

/** BASE **/


.header {
    background-color: $theme-color;
    color: $white;
    background-repeat: no-repeat;
}


/** BASE **/


/** AUTH **/
.auth {
    padding: 0 0 5rem 0;
    section {
        background-color: $body-color;
        padding: 4rem;
        border-radius: .4rem;
        h2,
        h3,
        h4 {
            text-align: center;
        }
        h4 {
            padding: 3rem 0 0;
        }
        > p {
            font-family: $lato;
            text-align: center;
            color: lighten($font-color, 50%);
            font-size: 90%;
        }
    }
    .login {
        padding: 5.5rem 0 3rem;
        background: radial-gradient(ellipse closest-side, #335,rgb(78, 78, 113) 26%,rgb(55, 55, 93));
        .card {
            font-size: 1.75rem;
            color: $font-color;
            line-height: 4rem;
            @extend %justify;
            border: 1px solid #ddd;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            p {
                font-family: $lato;
                font-weight: 400;
                text-align-last: center;
            }
        }
    }
}
/** AUTH **/

/** FOOTER **/
.site-footer {
    padding: 3rem 0 0;
    position: relative;
    color: $white;
    @include z('footer', 'content');
    .bottom {
        padding: 2rem 0;
        position: relative;
        @include z('footer', 'bottom');
        i {
            font-size: 200%;
        }
    }
}

/** FOOTER **/

/** HELPER **/
.btn-blocking {
    display: block;
    width: 100%;
}