$icomoon-font-path: "fonts" !default;

$omi-html: "\e923";
$omi-css: "\e91e";
$omi-javascript: "\e91f";
$omi-sass: "\e921";
$omi-ubuntu: "\e922";
$omi-chay: "\e90c";
$omi-email: "\e90d";
$omi-guitar: "\e90e";
$omi-yoga: "\e90f";
$omi-screen: "\e910";
$omi-js: "\e911";
$omi-vue: "\e912";
$omi-jquery: "\e913";
$omi-php-alt: "\e914";
$omi-php: "\e915";
$omi-laravel: "\e916";
$omi-mysql: "\e917";
$omi-send-mail: "\e918";
$omi-telegram: "\e919";
$omi-todo: "\e91a";
$omi-go-down: "\e91b";
$omi-forbidden: "\f084";
$omi-question-o: "\f02c";
$omi-triangle-down: "\f05b";
$omi-triangle-left: "\f044";
$omi-triangle-right: "\f05a";
$omi-triangle-up: "\f0aa";
$omi-locked: "\e900";
$omi-pencil: "\e901";
$omi-switch: "\e902";
$omi-plus: "\e903";
$omi-minus: "\e904";
$omi-folder: "\e91c";
$omi-search: "\e905";
$omi-feed: "\e91d";
$omi-heart: "\e906";
$omi-check: "\e907";
$omi-cancel: "\e908";
$omi-books: "\e920";
$omi-tag: "\e935";
$omi-tags: "\e936";
$omi-comment: "\e96e";
$omi-comments: "\e970";
$omi-burger: "\e9bd";
$omi-sort: "\e9be";
$omi-facebook: "\ea90";
$omi-twitter: "\ea96";
$omi-github: "\eab0";
$omi-npm: "\eab1";
$omi-nav-left: "\f0a4";
$omi-nav-right: "\f078";
$omi-clock: "\f046";
$omi-pin-down: "\f041";
$omi-link: "\e9cb";
$omi-stackoverflow: "\ead0";
$omi-add-todo: "\e909";
$omi-remove-todo: "\e90a";
$omi-todo-alt: "\e90b";

