@import "omi-variables";

@font-face {
    font-family: 'onlymyicon';
    src:    url('#{$icomoon-font-path}/onlymyicon.eot?pyanew');
    src:    url('#{$icomoon-font-path}/onlymyicon.eot?pyanew#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/onlymyicon.ttf?pyanew') format('truetype'),
        url('#{$icomoon-font-path}/onlymyicon.woff?pyanew') format('woff'),
        url('#{$icomoon-font-path}/onlymyicon.svg?pyanew#onlymyicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.omi {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'onlymyicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.omi-html {
    &:before {
        content: $omi-html;
    }
}
.omi-css {
    &:before {
        content: $omi-css;
    }
}
.omi-javascript {
    &:before {
        content: $omi-javascript;
    }
}
.omi-sass {
    &:before {
        content: $omi-sass;
    }
}
.omi-ubuntu,
.omi-server {
    &:before {
        content: $omi-ubuntu;
    }
}
.omi-chay {
    &:before {
        content: $omi-chay;
    }
}
.omi-email {
    &:before {
        content: $omi-email;
    }
}
.omi-guitar {
    &:before {
        content: $omi-guitar;
    }
}
.omi-yoga {
    &:before {
        content: $omi-yoga;
    }
}
.omi-screen {
    &:before {
        content: $omi-screen;
    }
}
.omi-js {
    &:before {
        content: $omi-js;
    }
}
.omi-vue {
    &:before {
        content: $omi-vue;
    }
}
.omi-jquery {
    &:before {
        content: $omi-jquery;
    }
}
.omi-php-alt {
    &:before {
        content: $omi-php-alt;
    }
}
.omi-php {
    &:before {
        content: $omi-php;
    }
}
.omi-laravel {
    &:before {
        content: $omi-laravel;
    }
}
.omi-mysql {
    &:before {
        content: $omi-mysql;
    }
}
.omi-send-mail {
    &:before {
        content: $omi-send-mail;
    }
}
.omi-telegram {
    &:before {
        content: $omi-telegram;
    }
}
.omi-todo {
    &:before {
        content: $omi-todo;
    }
}
.omi-go-down {
    &:before {
        content: $omi-go-down;
    }
}
.omi-forbidden {
    &:before {
        content: $omi-forbidden;
    }
}
.omi-question-o {
    &:before {
        content: $omi-question-o;
    }
}
.omi-triangle-down {
    &:before {
        content: $omi-triangle-down;
    }
}
.omi-triangle-left {
    &:before {
        content: $omi-triangle-left;
    }
}
.omi-triangle-right {
    &:before {
        content: $omi-triangle-right;
    }
}
.omi-triangle-up {
    &:before {
        content: $omi-triangle-up;
    }
}
.omi-locked {
    &:before {
        content: $omi-locked;
    }
}
.omi-pencil {
    &:before {
        content: $omi-pencil;
    }
}
.omi-switch {
    &:before {
        content: $omi-switch;
    }
}
.omi-plus {
    &:before {
        content: $omi-plus;
    }
}
.omi-minus {
    &:before {
        content: $omi-minus;
    }
}
.omi-folder {
    &:before {
        content: $omi-folder;
    }
}
.omi-search {
    &:before {
        content: $omi-search;
    }
}
.omi-feed {
    &:before {
        content: $omi-feed;
    }
}
.omi-heart {
    &:before {
        content: $omi-heart;
    }
}
.omi-check {
    &:before {
        content: $omi-check;
    }
}
.omi-cancel {
    &:before {
        content: $omi-cancel;
    }
}
.omi-books {
    &:before {
        content: $omi-books;
    }
}
.omi-tag {
    &:before {
        content: $omi-tag;
    }
}
.omi-tags {
    &:before {
        content: $omi-tags;
    }
}
.omi-comment {
    &:before {
        content: $omi-comment;
    }
}
.omi-comments {
    &:before {
        content: $omi-comments;
    }
}
.omi-burger {
    &:before {
        content: $omi-burger;
    }
}
.omi-sort {
    &:before {
        content: $omi-sort;
    }
}
.omi-facebook {
    &:before {
        content: $omi-facebook;
    }
}
.omi-twitter {
    &:before {
        content: $omi-twitter;
    }
}
.omi-github {
    &:before {
        content: $omi-github;
    }
}
.omi-npm {
    &:before {
        content: $omi-npm;
    }
}
.omi-nav-left {
    &:before {
        content: $omi-nav-left;
    }
}
.omi-nav-right {
    &:before {
        content: $omi-nav-right;
    }
}
.omi-clock {
    &:before {
        content: $omi-clock;
    }
}
.omi-pin-down {
    &:before {
        content: $omi-pin-down;
    }
}
.omi-link {
    &:before {
        content: $omi-link;
    }
}
.omi-stackoverflow {
    &:before {
        content: $omi-stackoverflow;
    }
}
.omi-add-todo {
    &:before {
        content: $omi-add-todo;
    }
}
.omi-remove-todo {
    &:before {
        content: $omi-remove-todo;
    }
}
.omi-todo-alt {
    &:before {
        content: $omi-todo-alt;
    }
}

i.omi-check {
    color: #46a863;
}