/* BREAKPOINTS */
@mixin minMedia($min) {
	@media screen and (min-width: #{$min + 1}) {
		@content;
	}
}
@mixin maxMedia($max) {
	@media screen and (max-width: #{$max}) {
		@content;
	}
}
@mixin minMaxMedia($min, $max) {
	@media screen and (min-width: #{$min}) and (max-width: #{$max + 1}) {
		@content;
	}
}

/* Z-INDEXES */
/* http://codepen.io/averyvery/pen/Hmwhb */
@each $group-name, $group-list in $z-indexed-items {
	$counter: 1;
	$group-map: ();
	@each $item in $group-list {
		$group-map: map-merge($group-map, ($item: $counter));
		$counter: $counter + 1;
	}
	$z-index-map: map-merge($z-index-map, ($group-name: $group-map));
}

@mixin z($group, $key) {
	z-index: map-get(map-get($z-index-map, $group), $key);
}