@import "theme-variables";
@import "theme-mixin";

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}




body {
    font-family: $lato;
    background-color: $body-color;
    font-weight: $normal;
}
h1,
h2,
h3 {
    font-family: $lato;
    font-weight: 300;
}
p {
    font-family: $roboto;
    font-weight: 400;
    strong {
        font-weight: bolder;
    }
}


/** NAVIGATION **/
.navbar-default {
    background-color: $theme-color;
    padding: 1rem 2rem;
    flex-flow: row wrap;
    .navbar-section {
        background-color: darken($theme-color, 10%);
        @include minMedia($sm) {
            background-color: transparent;
        }
        @include maxMedia($md){
            display: flex;
            flex-flow: row wrap;
            margin: 1rem -2rem;
        }
        @include minMaxMedia($xs, $sm){
            margin: 1rem -4rem;
        }
    }
    @include maxMedia($md){
        flex-flow: column wrap;
        align-items: stretch;
    }
    @include minMaxMedia($xs, $sm){
        padding: 1rem 4rem;
    }
    @include minMaxMedia($sm, $md){
        padding: 1rem 6rem;
    }
    @include minMaxMedia($md, $lg){
        padding: 3rem 8rem;
    }
    @include minMaxMedia($lg, $xl){
        padding: 3rem 10rem;
    } 
    @include minMedia($xl){
        padding: 3rem 13rem;
    } 
}
.navbar-header {
    a {
        color: $header-font-color;
        background-color: transparent;
        border-color: transparent;
        position: relative;
        @include z('header', 'brand');
        &:hover,
        &:focus,
        &:active {
            color: $header-font-hover-color;
            background-color: transparent;
            border-color: transparent;
        }
    }
    button {
        display: none;
        @include maxMedia($sm){
            font-size: 150%;
            padding: .1rem .7rem;
            display: initial;
            background-color: transparent;
            border-color: transparent;
            color: $white;
            position: relative;
            @include z('header', 'brand');
            &:hover,
            &:active,
            &:focus {
                background-color: transparent;
                border-color: transparent;
                color: lighten($theme-color, 60%);
                transition: 1s ease;
            }
        }
    }
    .navbar-brand {
        font-size: 200%;
        font-weight: 900;
        @include maxMedia($sm){
            
        }
        @include minMaxMedia($sm, $md){
            margin: 1em auto 0;
        }
        @include minMaxMedia($lg, $xl){
            font-size: 3.75rem;
        }
        @include minMedia($xl){
            font-size: 4rem;
        } 
    }
    @include maxMedia($md){
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
.navbar-section {
    display: flex;
    a {
        font-size: 115%;
        color: $header-font-color;
        background-color: transparent;
        border-color: transparent;
    }
    ul {
        display: flex;
        position: relative;
        @include z('header', 'menu');
        @include maxMedia($md){
            flex-flow: row wrap;
            width: 100%;
        }
        @include maxMedia($sm){
            display: none;
            flex-flow: column wrap;
        }
        li {
            list-style: none;
            margin: 0;
            padding: 0 5px;
            @include maxMedia($md){
                padding: 5px;
            }
            @include minMaxMedia($sm, $md){
                width: 25%;
            } 
        }
        a {
            @include maxMedia($sm){
                width: 100%;
            }
            @include minMaxMedia($sm, $md){
                width: 100%;
                text-align: center;
            }
            &:hover,
            &:focus,
            &:active {
                color: $header-font-hover-color;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }
}




/** NAVIGATION **/

/** BASE **/


.header {
    background-color: $theme-color;
    color: $white;
    background-repeat: no-repeat;
}

table {
    border-collapse: collapse;
    empty-cells: show;
}

td {
    position: relative;
}

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}


table.table-todo {
    border-collapse: collapse;
    empty-cells: show;
    tr {
        >th,
        >td {
            &:first-child,
            &:last-child {
                width: 20%;
                text-align: center;
            }
        }
    }
    >tbody {
        background-color: #f8f8f8;
        tr {
            >td:last-child {
                >span {
                    display: inline;
                    float: right;
                }       
            }
        }
        tr.strike {
            td {
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    border-bottom: 1px solid #111;
                    width: 100%;
                }
                &:after {
                    content: "\00B7";
                    font-size: 1px;
                }
                &:first-child {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 25%;
                        border-bottom: 1px solid #111;
                        width: 75%;
                    }
                }
                &:last-child {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        border-bottom: 1px solid #111;
                        width: 75%;  
                    }
                }
            }
        }
    }
    .success {
        color: #1ae9ae;
    }
}
.card {
    .card-title {
        a {
            color: $font-color;
            text-decoration: none;
            &:hover,
            &:focus,
            &:active {
                color: lighten($font-color, 15%);
            }
        }
    }
}

.home,
.stuff,
.todo {
    position: relative;
    @include z('body', 'content');
}

.stuff,
.todo {
    .empty {
        i {
            font-size: 500%;
        }
        a {
            color: #888;
            &:hover,
            &:focus,
            &:active {
                color: darken(#888, 15%);
            }
        }
    }
}
aside {
    > h1 {
        font-size: 2.5rem;
    }
}

.tags-list {
    margin: 0;
    display: inline-flex;
    align-items: baseline;
    color: lighten($font-color, 30%);
    cursor: pointer;
    .chip-sm {
        padding: .6rem 1.5rem;
        height: 3.25rem;
    }
    li {
        margin: 0 .3rem;
    }
    a {
        color: inherit;
        text-decoration: none;
        font-family: $roboto;
        font-weight: 300;
    }
}
code,
pre {
    text-indent: -0.5rem;
}

pre > code {
    font-size: 90%;
}

ol p:first-child, ol li p:first-child {
    display: inline;
}
/** BASE **/


/** HOME **/
.home {
    padding: 0 0 5rem 0;
    section {
        h2,
        h3,
        h4 {
            text-align: center;
        }
        h4 {
            padding: 3rem 0 0;
        }
        > p {
            font-family: $lato;
            text-align: center;
            color: lighten($font-color, 50%);
            font-size: 90%;
        }
    }
    .clarify {
        padding: 2rem .5rem 3rem;
        background-color: #FF5622;
        color: $white;
        font-weight: 700;
        font-size: 120%;
        border-top: 1rem solid #E75224;
        box-shadow: 0rem 3px 0px #E75224;
        > span {
            font-weight: 300;
            font-size: 135%;
        }
    }
    #introduction {
        padding: 5.5rem 0 3rem;
        background: radial-gradient(ellipse closest-side, #335,rgb(78, 78, 113) 46%,rgb(55, 55, 93));
        .card {
            font-size: 1.75rem;
            color: $font-color;
            line-height: 4rem;
            @extend %justify;
            border: 1px solid #ddd;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            p {
                font-family: $lato;
                font-weight: 400;
                text-align-last: center;
            }
        }
    }
    .greeting {
        border-bottom: .4rem solid;
        .text {
            font-weight: 700;
            color: rgb(155,183,201);
        }
    }
    .scroll-down {
        text-align: center;
        padding: 4rem 0;
        font-size: 5rem;
    }
    #likedThings {
        position: relative;
        background: #fff;
        padding: 6rem 3rem;
        text-align: center;
        .columns {
            flex-direction: column;
            padding: 5rem 1rem;
            @include minMedia($md){
                flex-direction: row;
            }
        }
        h2 {
            font-weight: 300;
            font-size: 2.3rem;
            @include maxMedia($lg){
                font-size: 3rem;
            }
        }
        p {
            font-family: $roboto;
        }
        i {
            font-size: 14rem;
        }
    }
    #todo {
        background-color: $theme-color;
        color: rgb(222,222,222);
        padding: 6rem 0;
        .columns {
            flex-direction: column;
            @include minMedia($md){
                flex-direction: row;
            }
        }
        p {
            font-family: $lato;
            font-size: 110%;
            line-height: 3.5rem;
            @extend %justify;
            > a:hover,
              a:focus,
              a:active {
                color: rgb(121,132,215);
            }
        }
        i {
            font-size: 15rem;
        }
    }
    #focus {
        padding: 5rem 0 10rem;
        background-color: $theme-color;
        color: rgb(222,222,222);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background: radial-gradient(ellipse closest-side, #335,rgb(78, 78, 113) 46%,rgb(55, 55, 93));
        border-bottom: 1rem solid rgba(234, 234, 234, 0.05);
        box-shadow: 0rem .2rem .1rem rgb(195, 195, 195);
        .columns {
            display: flex;
            margin-left: 0;
            margin-right: 0;
            @include maxMedia($lg){
                display: block;
            }
        }
        hr {
            color: rgba(256,256,256,0.2);
            box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
            @include minMedia($lg){
                margin-top: -0.1rem;
            }
        }
        > .focus-box {
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            padding: 0px;
            border-radius: 5px;
            border: 1px solid rgb(216, 216, 216);
            margin: 6rem auto 0;
            background-color: rgb(255,255,255);
            color: rgb(65, 65, 65);
            p {
                padding: 2rem;
                @extend %justify;
            }
        }
        .first-box {
            overflow: hidden;
            .head {
                display: flex;
                flex-direction: row;
                font-size: 10rem;
                > .column {
                    width: 50%;
                }
            }
            @include minMedia($lg){
                max-height: 35rem;
            }
        }
        .second-box {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            .head {
                font-size: 7.5rem;
                text-align: center;
                @include minMedia($md) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            @include minMedia($md) {
                flex-direction: row;
            }
        }
        .third-box {
            padding: 2rem;
            .head {
                font-size: 7rem;
                text-align: center;
                display: flex;
                flex-direction: row;
                margin: 0 auto;
                @include minMedia($lg) {
                    flex-direction: column;
                }
            }
        }
        .php {
            text-align: center;
            border-right: 1px solid rgb(222,222,222);
            > i {
                color: rgb(35, 37, 49);
            }
        }
        .laravel {
            text-align: center;
            > i {
                color: rgb(250, 80, 58);
            }
        }
        .javascript {
            > i {
                color: rgb(248, 220, 61);
            }
        }
        .vue {
            > i {
                color: rgb(53, 73, 94);
            }
        }
    }
}
/** HOME **/

/** TODO **/
.todo {
    h1 {
        &.header {
            margin: 0;
            padding: 5.5rem 0;
            text-align: center;
            border-bottom: 1rem solid rgba(234, 234, 234, 0.05);
            box-shadow: 0 .2rem 0 #e8e8e8;
            &:before {
                @extend %omi;
                content: $omi-todo;
                position: absolute;
                font-size: 40rem;
                top: 0;
                left: 0;
                color: rgba(39, 153, 191, 0.06);
                z-index: 0;
            }
        }
    }
    section {
        position: relative;
        background-color: $theme-color;
        @include z('body', 'section');
    }
}
/** TODO **/

/** STUFF **/
.stuff {
    h1 {
        &.header {
            margin: 0;
            padding: 5.5rem 0;
            text-align: center;
            border-bottom: 1rem solid rgba(234, 234, 234, 0.05);
            box-shadow: 0 .2rem 0 #e8e8e8;
            &:before {
                @extend %omi;
                content: $omi-books;
                position: absolute;
                font-size: 40rem;
                top: 0;
                left: 0;
                color: rgba(39, 153, 191, 0.06);
                z-index: 0;
            }
        }
    }
    section {
        position: relative;
        background-color: $theme-color;
        @include z('body', 'section');
        > .columns {
            flex-wrap: wrap;
            background-color: #f8f8f8;
            > .card {
                width: 23%;
                margin: 1rem;
                .card-footer a {
                    background: transparent;
                    border-color: transparent;
                    color: lighten($font-color, 10%);
                    font-size: 125%;
                    &:hover,
                    &:active,
                    &:focus {
                        color: lighten($font-color, 25%);
                    }
                }
            }
        }
    }
}
/** STUFF **/
/** BLOG POST **/
.blog-post {
    position: relative;
    padding: 3rem 0 5rem;
    background-color: $white;
    border-radius: .3rem;
    margin: 6em auto;
    .post-content {
        padding: 1em;
        position: relative;
        @include z('body', 'article');
        @include minMedia($lg) {
            padding: 0 3em;
        }
        @include maxMedia($sm) {
            word-wrap: break-word;
            hyphens: auto;
            text-align: justify;
        }
    }
    .post {
        border-bottom: 1px solid lighten($font-color, 75%);
        padding-top: 2em;
        position: relative;
        @include z('body', 'content');
        display: flex;
        flex-direction: column-reverse;
        @include minMedia($lg) {
            flex-direction: row-reverse;
        }
        header {
            @include minMedia($lg) {
                padding: 0 .5rem;
            }
            h1,
            h3 {
                margin: 0;
                font-family: $roboto;
                font-size: 2.7rem;
                color: $font-color;
                text-align: center;
                a {
                    color: inherit;
                    text-decoration: none;
                    &:hover {
                        color: $link-color;
                    }
                    &:focus,
                    &:active {
                        color: lighten($link-color, 15%);
                    }
                }
                @include minMedia($lg) {
                    text-align: left;
                }
            }
            dl {
                display: flex;
                align-items: baseline;
                margin: 1rem 0 0;
                font-size: 1rem;
                justify-content: center;
                color: lighten($font-color, 35%);
                flex-direction: column;
                align-items: center;
                @include minMedia($xs) {
                    flex-direction: row;
                }
                @include minMedia($lg) {
                    margin: 0;
                    justify-content: left;
                    align-items: left;
                }
            }
            dd {
                margin: 0 .5rem;
            }
        }
        .the-content {
            padding: 1rem;
            //border-top: 1px solid lighten($font-color, 75%);
            flex-direction: column;
            @include minMedia($lg) {
                padding: 1rem 1rem 1rem 2rem;
            }
            .excerpt {
                position: relative;
                max-height: 275px;
                overflow: hidden;
                header {
                    margin-bottom: 1rem;
                }
                p {
                    line-height: 1.8;
                }
            }
        }
        .the-image {
            align-self: center;
            text-align: center;
            img, .img-responsive {
                margin: 0 auto;
                max-height: 150px;
                @include minMedia($sm) {
                    max-height: 200px;
                }
                @include minMedia($lg) {
                    max-height: 275px;
                }
            }
            a {
                outline: none;
                &:hover,
                &:focus,
                &:active {
                    outline: none;
                }
            }
        }
        .read-more {
            color: $link-color;
            text-decoration: none;
            &:hover {
                color: lighten($link-color, 20%);
            }
            &:hover,
            &:focus,
            &:active {
                outline: none;
            }
            @include minMedia($lg) {
                padding-left: .5rem;
            }
        }
        footer {
            position: absolute;
            right: 0;
            bottom: 0;
            ul {
                list-style: none;
                display: flex;
                align-items: baseline;
                margin: 1.5rem 1rem;
                vertical-align: middle;
                justify-content: center;
                color: lighten($font-color, 35%);
                > li:first-child {
                    margin-left: .5rem;
                }
                > li {
                    margin-top: 0;
                }
            }
            a {
                color: $font-color;
                text-decoration: none;
                &:hover {
                    color: lighten($font-color, 2%);
                    text-decoration: underline;
                }
            }
        }
        &:hover {
            border-radius: .3rem;
        }
        &:hover .img-responsive {
            border-radius: .7rem;
        }
        &:hover .post-title {
            color: lighten($font-color, 5%) !important;
        }
    }
    &:hover .posticon {
        text-shadow: 0 0 1px darken(#d1d1d1, 10%);
        transition: color .1s cubic-bezier(.47,0,.74,.71);
    }
    .author {
        display: none;
    }
}
/** BLOG POST **/

/** BLOG **/
.blog {
    background: radial-gradient(ellipse closest-side, #335,rgb(78, 78, 113) 46%,rgb(55, 55, 93));
    padding-bottom: 2.5rem;
    border-bottom: 1rem solid rgba(234, 234, 234, 0.05);
    margin-bottom: 5rem;
    box-shadow: 0rem .2rem .1rem rgb(195, 195, 195);
    section > h2 {
        font-family: $roboto;
        font-size: 1.5em;
        overflow: hidden;
        text-align: center;
        &:before,
        &:after {
            background-color: lighten($font-color, 70%);
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;  
        }
        &:before {
            right: 0.5em;
            margin-left: -50%;  
        }
        &:after {
            left: 0.5em;
            margin-right: -50%;
        }
    }
    > .title {
        padding-top: 10rem;
        margin: 0;
        text-align: center;
        font-weight: 900;
        color: $body-color;
        span {
            font-weight: 300;
            color: lighten($font-color, 55%);
        }
    }
    > .blog-quotes {
        font-family: initial;
        font-size: 1.35rem;
        color: rgb(155,183,201);
        line-height: 4rem;
        text-align: center;
        font-style: italic;
        padding-bottom: 5rem;
    }
    > .title,
    > .blog-quotes {
        text-align: center;
        background-color: $theme-color;
    }
    .tags {
        background-color: $white;
        border-radius: .3rem;
        position: relative;
        margin: 3.5rem auto 3rem;
        > ul {
            display: flex;
            list-style: none;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: center;
            @include minMedia($lg){
                flex-flow: row;
            } 
            > li,
            > .tag {
                transition: margin-left .2s ease-in;
            }
            > li {
                width: 100%;
                display: flex;
                text-align: center;
                height: 10rem;
                border-radius: .3rem;
                flex: none;
                @include minMedia($sm) {
                    width: 25%;
                    margin: 12px;
                }
                @include minMedia($md){
                    width: 18%;
                } 
                @include minMedia($lg){
                    width: 12%;
                } 
                > a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 1.2em;
                    vertical-align: middle;
                    color: $body-color;
                    text-decoration: none;
                    i {
                        font-size: 3em;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                    &:hover i {
                        transform: scale(1.2);
                        font-weight: 900;
                        transition: .3s ease-out;
                    }
                }
            }
        }
        .next,
        .prev {
            font-size: 3em;
            position: absolute;
            width: 7%;
            height: 77.5%;
            bottom: 0;
            display: flex;
            align-items: center;
            margin: 0 auto;
            justify-content: center;
            color: lighten($font-color, 65%);
            cursor: pointer;
            &:hover {
                transition: .1s ease-in;
                color: lighten($font-color, 35%);
            }
        }
        .next {
            right: 0;
        }
        .prev {
            left: 0;
        }
        .omi-php {
            color: $php-color;
        }
        .omi-laravel {
            color: $laravel-color;
        }
        .omi-javascript {
            color: $javascript-color;
        }
        .omi-vue {
            color: $vue-color-back;
        }
        .omi-mysql {
            color: $mysql-color;
        }
        .omi-css {
            color: $css-color;
        }
        .omi-html {
            color: $html-color;
        }
        .omi-server {
            color: $server-color;
        }
        .omi-jquery {
            color: $jquery-color;
        }
        &:hover .tagicon {
            zoom: 1.2;
            transform: scale(1.2);
            transform-origin: top right;
            transition: .5s ease-out;
            color: #cf4c4c;
        }
    }
    .tagicon {
        position: absolute;
        right: .3em;
        top: .3em;
        font-size: 2.5em;
    }
    .posticon {
        display: none;
        position: absolute;
        color: #d1d1d1;
        @include z('body', 'section');
        @include minMedia($sm) {
            display: block;
            right: 3%;
            font-size: 4em;
            top: 1%;
        }
        @include minMedia($md) {
            display: block;
            right: 10%;
            font-size: 6.5em;
            top: 1%;
        }
        @include minMedia($lg) {
            display: block;
            right: 20%;
            font-size: 10em;
            top: 1%;
        }
    }
    .php {
        background-color: lighten($php-color, 15%);
    }
    .laravel {
        background-color: lighten($laravel-color, 15%);
    }
    .javascript {
        background-color: lighten($javascript-color, 15%);
    }
    .vue {
        background-color: $vue-color-front;
    }
    .mysql {
        background-color: lighten($mysql-color, 15%);
    }
    .css {
        background-color: lighten($css-color, 15%);
    }
    .html {
        background-color: lighten($html-color, 15%);
    }
    .server {
        background-color: lighten($ubuntu-color, 15%);
    }
    .jquery {
        background-color: lighten($jquery-color, 15%);
    }
    .tags-list {
        margin-bottom: 0;
        a:hover,
        a:active {
            text-decoration: none;
        }
    }
}

/** BLOG **/
/** TAG **/
.tag-post {
    background: radial-gradient(ellipse closest-side, #335,rgb(78, 78, 113) 46%,rgb(55, 55, 93));
    .backicon {
        font-size: 15em;
        color: $body-color;
        text-align: center;
        text-shadow: 1px 1px 1px #E3E3E3;
        display: block;
    }
    > header {
        padding: 0 0 5.5rem 0;
        border-bottom: 1rem solid rgba(234, 234, 234, 0.05);
        box-shadow: 0 .2rem 0 #e8e8e8;
        h1 {
            text-align: center;
            color: $body-color;
            font-weight: 900;
        }
    }
    .blog-post {
        border-radius: 0;
        > h2 {
            visibility: hidden;
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
    }
    > .php {
        color: $php-color;
    }
    > .laravel {
        color: $laravel-color;
    }
    > .javascript {
        color: $javascript-color;
    }
    > .vue {
        color: $vue-color-front;
    }
    > .mysql {
        color: $mysql-color;
    }
    > .css {
        color: $css-color;
    }
    > .html {
        color: $html-color;
    }
    > .server {
        color: $ubuntu-color;
    }
    > .jquery {
        color: $jquery-color;
    }
    .empty {
        background-color: $white;
    }
}
/** TAG **/
/** SINGLE **/
.single {
    background: radial-gradient(ellipse closest-side, #335,rgb(78, 78, 113) 46%,rgb(55, 55, 93));
    > header {
        padding: 5rem 0 11rem;
        border-bottom: 1rem solid rgba(234, 234, 234, 0.05);
        box-shadow: 0 .2rem 0 #e8e8e8;
        width: 67.77777777%;
        margin: 0 auto;
        @include z('body', 'content');
        h1 {
            margin: 0;
            text-align: center;
            color: $body-color;
        }
        .iconback {
            position: absolute;
            display: block;
            font-size: 40rem;
            left: 0;
            top: 10rem;
            color: rgba(39, 153, 191, 0.06);
            @include z('body', 'content');
        }
    }
    .main-image {
        margin-top: -11em;
        @include z('body', 'single-image');
        border: 5px solid $white;
        box-shadow: 0 1px 1px 0px #d1d1d1;
        border-radius: .5rem;
        background-color: $white;
        min-height: 143px;
        @include minMaxMedia($xs, $sm) {
            min-height: 235px;
        }
        @include minMaxMedia($sm, $md) {
            min-height: 213px;
        }
        @include minMaxMedia($md, $xl) {
            min-height: 296px;
        }
        @include minMedia($xl) {
            min-height: 267px;
        }
        .img-responsive {
            margin: 0 auto;
            @include minMaxMedia($xs, $sm) {
                min-height: 225px;
                max-height: 450px;
            }
            @include minMaxMedia($sm, $md) {
                min-height: 214px;
                max-height: 245px;
            }
            @include minMaxMedia($md, $xl) {
                min-height: 295px;
                max-height: 305px;
            }
            @include minMedia($xl) {
                min-height: 267px;
                max-height: 305px;
            }
        }
    }
    .the-post {
        margin: 0 auto;
        position: relative;
        padding: 3rem 0 5rem;
        background-color: $white;
        @include z('body', 'title-separator');
        dl {
            display: flex;
            align-items: baseline;
            margin: 1rem auto;
            font-size: 1rem;
            justify-content: center;
            color: lighten($font-color, 35%);
        }
        dd {
            margin: 0 .5rem;
        }
        .the-post-content {
            padding: 3rem;
            font-size: 130%;
            font-family: $roboto;
            font-weight: 300;
            line-height: 1.77777777;
            h1,h2,h3,h4,h5,h6 {
                font-family: inherit;
                font-weight: 400;
                color: lighten($font-color, 5%);
            }
            ul,
            ul li,
            blockquote,
            p {
                font-family: inherit;
                font-weight: inherit;
            }
            p {
                margin: 0 0 2rem;
            }
            blockquote {
                font-style: italic;
                color: lighten($font-color, 17.5%);
                position: relative;
                padding: 15px 20px 15px 45px;
                margin: 0 0 20px;
                display: block;
                &:before {
                    content: "\201C";
                    font-family: Georgia, serif;
                    font-size: 60px;
                    font-weight: bold;
                    color: #999;
                    position: absolute;
                    left: 5px;
                    top: 10px;
                    line-height: 1;
                }
            }
            strong {
                color: darken($font-color, 5%);
                font-weight: 400;
            }
        }
    }
    .the-footer {
        margin: 0 auto;
        position: relative;
        padding: 1rem;
        background-color: darken($body-color, 39.5%);
        border-radius: 0 0 .3rem .3rem;

        .tagicon {
            float: right;
            border-radius: 50%;
            background-color: #e79292;
            border: 2px solid #f2f2f2;
            transition: transform .8s ease-in-out;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            > span,
            > i {
                color: #535151;
            }
        }
        &:hover .tagicon {
            transform: rotate(360deg);
        }
    }
    pre {
        margin: 2rem 0;
    }
    aside {
        &.in-series {
            padding: 3rem;
            background-color: darken($body-color, 5%);
            ol {
                font-size: 135%;
                counter-reset: item;
                li {
                    display: block;
                    &:before {
                        content: counter(item) ". ";
                        counter-increment: item;
                        margin-right: .5rem;
                    }
                }
                > .current-series {
                    background-color: darken($body-color, 12%);
                }
            }
        }
    }
    .prism-show-language {
        margin-top: 2rem;
    }
}
.after-main-post {
    background-color: $theme-color;
    padding: 1rem 0;
    .related-posts {
        padding: .5rem 2rem;
        border-radius: .3rem;
        background-color: $body-color;
        > h1 {
            font-family: $roboto;
            font-size: 1.5em;
            overflow: hidden;
            text-align: center;
            &:before,
            &:after {
                background-color: lighten($font-color, 70%);
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 50%;  
            }
            &:before {
                right: 0.5em;
                margin-left: -50%;  
            }
            &:after {
                left: 0.5em;
                margin-right: -50%;
            }
        }
        .articles {
            display: flex;
            flex-direction: column;
            @include minMedia($lg) {
                flex-direction: row;
            }
        }
        img, .img-responsive {
            height: 65px;
            margin: 0 auto;
        }
    }
    .article {
        margin: .5rem;
        display: flex;
        background-color: $body-color;
        box-shadow: 0 1px 1px 0px #d1d1d1;
        border-radius: .5rem;
        @include minMedia($lg) {
            width: 50%;
        }
        h1 {
            font-size: 1.35rem;
            font-weight: 400;
            width: 66.66666666%;
            margin: auto 1.5rem;
        }
        img {
            word-wrap: break-word;
        }
        &.article-left {
            flex-direction: row-reverse;
            @include minMedia($lg) {
                flex-direction: row;
            }
        }
        &.article-right {
            flex-direction: row-reverse;
        }
        a {
            display: inherit;
            flex-direction: inherit;
            width: 100%;
            color: $font-color;
            text-decoration: none;
            &:hover,
            &:active,
            &:focus {
                color: lighten($font-color, 10%);
            }
        }
    }
}
/** SINGLE **/




/** FOOTER **/
.site-footer {
    padding: 3rem 0 0;
    position: relative;
    @include z('footer', 'content');
    a {
        color: rgb(51, 51, 51);
        text-decoration: none;
    }
    > .container {
        padding: 3rem;
        > .columns {
            padding-top: 4rem;
            border-top: 1px solid rgb(232, 232, 232);
            text-align: center;
            @include minMaxMedia($xs, $lg){
                flex-direction: column;
            }
            @include minMedia($lg){
                flex-direction: row;
            }
        }
    }
    .bottom {
        background-color: rgb(252,252,252);
        padding: 2rem 0;
        position: relative;
        @include z('footer', 'bottom');
        i {
            font-size: 170%;
            position: relative;
            top: 3px;
        }
        > .copyright-text {
            display: inline-block;
        }
    }
    .message {
        flex-direction: column;
        p {
            height: 100%;
            flex: 1;
            @include minMedia($sm) {
                flex: none;
                text-align: left;
            }
        }
        .hey {
            font-size: 6.77rem;
            font-family: $lato;
            font-weight: 900;
        }
        @include minMedia($sm) {
            flex-direction: row;
        }
    }
    .send {
        height: 100%;
        flex-direction: column;
        small {
            margin: -1rem 0 1rem;
        }
    }
    .contact {
        margin: .75rem 0;
        .get-in-touch {
            margin: 0 2rem .3rem;
            font-size: 120%;
            font-weight: 900;
        }
        .list > ul {
            display: block;
            margin: 0 2rem;
            padding: .5rem 0;
            text-align: left;
            > li {
                border-radius: .3rem;
                color: #333;
                display: block;
                line-height: 2.4rem;
                margin-top: .1rem;
                padding: .2rem 0;
                user-select: none;
            }
            @include minMedia($lg) {
                margin: 0;
            }
        }
        a {
            text-decoration: none;
        }
        .email:hover span {
            color: lighten($font-color, 40%);
            transition: .2s ease;
        }
        .telegram:hover span {
            color: #1E96C8;
            transition: .2s ease;
        }
    }
    .send-email {
        border: 0.1rem solid #333;
        color: #333;
        &:hover {
            border-color: #5675B9;
            background-color: #5675B9;
            color: $white;
            transition: .25s ease;
        }
    }

    .navbar-section {
        padding: 2rem 0 4rem;
        flex-flow: column;
        a {
            margin: .5rem auto;
            text-decoration: none;
            font-size: 100%;
            &:hover {
                color: lighten($font-color, 5%);
            }
        }
        @include minMedia($sm) {
            flex-flow: row;
        }
    }
}

/** FOOTER **/


/** HELPER **/
.center {
    margin: 0 auto;
}
.vertical-center {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.omi {
    margin: 0 .3rem;
}
.btn-blue {
    border-color: transparent;
    background-color: #5675B9;
    color: white;
    &:hover,
    &:focus,
    &:active {
        transition: .25s ease;
        background-color: darken(#5675B9, 10%);        
    }
}
.hashtag {
    color: #5876ec;
    font-weight: bolder;
}
/** HELPER **/

/** PROVIDER **/
/** CODE BLOCK **/
/** Inherited from prismjs css **/
code,
pre {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code {
    background: #efefef;
}

pre {    
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #272822;
}

/* Inline code */
:not(pre) > code {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}
/** CODE BLOCK */
/** BLOCK SEPARATOR **/
.block-separator {
    height: 4.25em;
    width: 100%;
    background-color: $body-color;
    border-bottom: .1rem solid #e3e3e3;
    @include z('body', 'title-separator');
}
/** BLOCK SEPARATOR **/
/* IDE */
.ide-box {
    padding: 0;
    @include minMedia($lg) {
        overflow: hidden;
        border-right: 1px solid rgb(221, 221, 221);
        box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.1);
    }
}
.ide {
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 85%;
    .ide-titlebar {
        height: 2em;
        background-color: #eee;
        padding: .3rem .5rem;
        color: #555;
        user-select: none;
    }
    .ide-buttons {
      float: right;
    }
    .ide-title {
        font-size: 80%;
        color: #848484;
    }
    .ide-button {
        display: inline-block;
        margin: .375rem;
        height: 1em;
        width: 1em;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .ide-button-close {
        background-color: #ff4545;
    }
    .ide-button-hide {
        background-color: #ffbe03;
    }
    .ide-button-full {
        background-color: #03d544;
    }

    .ide-content {
        background-color: rgb(39,40,34);
    }
    .code, code.code {
        font-family: monospace;
        counter-reset: lineNum;
        list-style: none;
        color: rgb(248, 248, 242);
        margin: 0;
        background: transparent;
        border-radius: .2rem;
        display: inline;
        font-size: inherit;
        padding: 0;
    }
    .code .class {
        color: rgb(102, 217, 239);
    }
    .code .namespace {
        color: rgb(174, 129, 255);
    }
    .code .keyword {
        color: rgb(213, 38, 87);
    }
    .code .comment {
        color: rgb(117, 113, 94);
    }
    .code .function {
        color: rgb(166, 226, 46);
    }
    .code .string {
        color: rgb(197, 219, 88);
    }
    .code .line {
        display: block;
        counter-increment: lineNum;
        margin: 0;
    }
    .code .line:before {
        display: inline-block;
        content: counter(lineNum);
        padding: 0 .35rem;
        margin-right: .85rem;
        background-color: #24261F;
        color: rgb(143,144,138);
        width: 6%;
        text-align: right;
    }
}
.ide-showcase {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    background-color: rgb(39,40,34);
    border: .5rem solid rgb(255, 255, 255);
    box-shadow: 0 0 .3rem rgba(0,0,0,.5);
}

/* IDE */
/** PROVIDER **/