@import "omi";

/* FONTS */
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$black: 900;

/* COLORS */
$font-color: rgb(51, 51, 51);
$white: rgb(256, 256, 256);
$body-color: rgb(250, 250, 250);
$theme-color: rgb(55, 55, 93);
$header-font-color: rgb(222, 222, 222);
$header-font-hover-color: rgb(255, 255, 255);
$link-color: rgb(60,68,126);

/* BREAKPOINTS */
$xs: 480px;
$sm: 600px;
$md: 840px;
$lg: 960px;
$xl: 1280px;

/* Z-INDEXES */
/* http://codepen.io/averyvery/pen/Hmwhb */
$z-indexed-items: (
	'footer': (
		'content',
    	'bottom'
    ),
  	'body': (
    	'content',
    	'section',
        'article',
    	'title-separator',
        'single-image'
  	),
  	'header': (
  		'page-title',
  		'brand',
  		'menu'
  	)
);
$z-index-map: ();

/* PLACEHOLDERS */
%justify {
	word-wrap: break-word;
	hyphens: auto;
	text-align: justify;
}
%omi {
	font-family: 'onlymyicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$php-color: rgb(35,37,49);
$laravel-color: rgb(250,80,58);
$vue-color-back: rgb(53,73,94);
$vue-color-front: rgb(65,184,131);
$javascript-color: rgb(248,220,61);
$mysql-color: rgb(93,135,161);
$css-color: rgb(21,114,182);
$ubuntu-color: rgb(222,72,21);
$server-color: rgb(222,72,21);
$html-color: rgb(228,77,38);
$jquery-color: rgb(16,105,175);